.form {
  width: 320px;
  padding: 60px 45px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  background-color: #1f283e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
