.button {
  cursor: pointer;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  line-height: 40px;
  border: none;
  padding: 0 30px;
  text-transform: uppercase;
  user-select: none;

  &:focus {
    box-shadow: 0 0 3px rgba(255, 255, 255, .5);
  }

  &.default {
    background: linear-gradient(to right, #7AC298, #9ECC7E);
  }

  &.primary {
    background: linear-gradient(to right, #6D63E1, #8572E4);
  }

  &.error {
    background: linear-gradient(to right, #DA5987, #E16C91);
  }
}
