
.label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  white-space: nowrap;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
}

.input:checked + .label {
  background-color: #12bbd4;
  color: #fff;
}
