.input {
  height: 40px;
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.04);
  box-sizing: border-box;
  overflow: hidden;

  &:focus {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
  }

}
