.select {
  appearance: none;
  height: 40px;
  line-height: 40px;
  padding: 0 30px 0 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.04);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23acacac' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 8px 10px;
  background-repeat: no-repeat;
}
