.link {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
    pointer-events: none;
  }
}
