.button {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &.active {
    border-color: #7AC298;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #7AC298;
    }
  }
}
