.tag {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  border-radius: 20px;
  background: #e16c91;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  user-select: none;

  &.disabled {
    opacity: .25;
  }
}
