.sidebar {
  width: 220px;
}

.content {
  width: 100%;
  height: 100vh;
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-bottom: 30px;
  box-sizing: border-box;
}
