.notification {
  padding: 20px 30px;
  background: #201f2a;
  border-radius: 15px;
  font-weight: 400;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-top: 15px;
  cursor: pointer;
  line-height: 140%;
  color: #fff;

  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
