.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, .8);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 11000;
}

.content {
  margin-top: 160px;
  margin-bottom: auto;
  flex: 0 1 auto;
  width: 480px;
  cursor: default;
  background: #1f283e;
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
